<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- 
    slots is an array which gives all possible slots of given lab

    To get info about lab in which slot is present
    slots[i].lab

    To get info about students present in slot
    slots[i].students
     -->
    <h1>Booking of Labs</h1>
</body>

</html>